<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <div id="app">
        <h2>Todo count: {{ todo_count }}</h2>
        <single-todo v-for="(todo, index) in todos"
            :todo="todo"
            :key="index">

        </single-todo>

        <form @submit.prevent="submitTodo">
            <div class="form-group">
                <label for="todoContent">New Todo:</label>
                <input type="text"
                    class="form-control"
                    id="todoContent"
                    v-model="todo">

            </div>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>

</body>
</html>